/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

body {
  margin-top: 6rem;
}

a {
  color: rgb(30, 136, 171);
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  color: rgb(5, 105, 135);
  text-shadow: 1px 1px 10px rgb(30, 136, 171);
}

textarea:hover, input:hover, select:hover{
  border-color: rgb(30, 136, 171);
}
textarea:focus, input:focus, select:focus{
  border-color: rgb(30, 136, 171);
  box-shadow: 0 0 8px rgba(30, 136, 171, 0.6) !important;
}
.textarea_big {
  height: 20rem;
}
@media (max-width: 1000px) {
  .textarea_big {
    height: 15rem;
  }
}
@media (max-width: 500px) {
  .textarea_big {
    height: 10rem;
  }
}
.textarea_medium {
  height: 10rem;
}

/* input[type=submit]  - это все кнопки форм кроме destroy */
input[type=submit], button[type=submit] {
  border: none;
  border-radius: 5px;
  border: 2px solid rgb(183, 224, 235);
  padding: .3rem .5rem .3rem .5rem;
  font-weight: 500;
  color: rgb(30, 136, 171);
  background-color: rgb(183, 224, 235);
}
input[type=submit]:hover, button[type=submit]:hover {
  color: rgb(5, 105, 135);
  text-shadow: 1px 1px 10px rgb(251, 251, 251);
  border-color: rgb(5, 105, 135);
}
input[type=submit]:active, button[type=submit]:active {
  color: rgb(5, 105, 135);
  border-color: rgb(5, 105, 135);
  background-color: rgb(251, 251, 251);
}

 /* ==================================== */
 /* Header navbar -- application.html.erb */
 /* ==================================== */

.navbar {
  font-weight: 500;
  padding-top: 1rem; padding-bottom: 1rem;
  background-color: rgb(183, 224, 235)!important;
}

a.nav-link{
  margin-left: 1rem;
}

a.navbar-brand, a.nav-link {
  font-size: 1.1rem;
  color: rgb(30, 136, 171);
}
a.navbar-brand:hover, a.nav-link:hover {
  color: rgb(5, 105, 135);
  text-shadow: 1px 1px 10px rgb(251, 251, 251);
}

.navbar-toggler>span { color: rgb(30, 136, 171);}

.navbar-toggler {
  background-color: rgb(157, 206, 220)!important;
  border-color: rgb(30, 136, 171);
}

.navbar .navbar-brand{
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
@media (max-width: 350px) {
  .navbar .navbar-brand{
    font-size: 1rem;
  }
}

.header_sign a {
  font-size: 1.2rem;
}
.header_sign a:hover {
  text-shadow: 1px 1px 10px rgb(251, 251, 251);
}

.header_username{
  font-size: 1.2rem;
}