<h1 class="text-center"><%= t('.title') %></h1>

<h5 class="text-center">
  <%= link_to t('links.show_image'), @image %> |
  <%= link_to t('links.index_images'), images_path %>
</h5>

<%= render "form", image: @image %>